/*  Variables  */
/*  Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Signika", serif;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.container h1 {
  font-size: 48px;
  margin-bottom: 18px;
}

section {
  padding: 120px 0;
}

p {
  color: #777777;
  font-size: 14px;
  letter-spacing: -0.35px;
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  width: 296px;
  height: 17px;
  color: #777777;
  font-family: "Signika", serif;
  font-size: 16px;
  font-style: italic;
  position: relative;
  left: 40%;
  text-align: right;
}

.row {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.btn {
  display: inline-block;
  min-width: 138px;
  min-height: 65px;
  /*margin-top: 40%;
    margin-left: 40%;*/
  padding: 25px 51px 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  /*text-align: center;*/
  text-decoration: none;
  cursor: pointer;
  background-color: #fed136;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
}

.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}

/*   Navigation  */
.navigation {
  background: #fed136;
  padding: 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 5%;
  right: 6%;
}

.navigation ul li {
  display: inline-block;
  margin: 0 40px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  height: 10px;
  color: #ffffff;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0;
}

.navigation ul ul {
  display: none;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.navigation li:hover ul {
  display: block;
  position: absolute;
}

/*  Splash  */
.splash {
  background-image: url("../images/Background_Image.png");
  /*opacity: 0.5;
    /*background-color: #000000;*/
  background-size: cover;
  color: #ffffff;
  min-height: 730px;
  display: -ms-flexbox;
  display: flex;
}

/*.splash::after {
content: "";
background-color: #000000;
opacity: 0.5;
}*/
.splash-inner {
  margin: 10% auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 75px;
  word-spacing: 0;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
}

.page-subtitle {
  margin: 48px auto;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  position: absolute;
  top: 25%;
  left: 40%;
}

.splash-inner .btn {
  /*margin-left: auto;*/
  position: absolute;
  bottom: 35%;
  left: 45%;
}

.golden {
  margin: 0;
  font-family: "Great Vibes", cursive;
  font-size: 26px;
  color: #fed136;
  font-style: italic;
  position: absolute;
  top: 5%;
  left: 20%;
}

/*  Services  */
.flex-1 {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  position: relative;
  text-align: justify;
  padding: 96px 56px 0 0;
}

.flex-1 h1 {
  font-size: 18px;
}

i {
  color: #fed136;
  background-color: #ffffff;
  font-size: 35px;
  height: 70px;
  width: 70px;
  position: relative;
  left: 40%;
  line-height: 70px;
  border: 2px solid;
  padding-top: 16px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
}

/*  Our Portfolio  */
.portfolio {
  background-color: #f7f7f7;
}

.flex-2 {
  background-color: #ffffff;
  display: flexbox;
  margin-right: 5%;
  border: 2px solid red;
}

h4, p {
  text-align: center;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h4 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin: 29px 0 0 0;
}

p {
  margin: 4px 0 27px 0;
  font-style: italic;
  color: #737373;
}
/*# sourceMappingURL=style.css.map */